body {
			    background-image: url(texture.jpg);
			    background-repeat: no-repeat;
			    font-family: "Century Schoolbook", "Times New Roman",
			          Times, serif;
			    color: #2A1B0A;
			    //background-color: lightblue }
			  ul.navbar {
			  list-style-type: none;
			      padding: 0;
    		margin-left: 5%;
    		margin-right: 5%;
			    position: absolute;
			    top: 9.8em;
			    left: 1.2em;
			    width: 6em
}
			  h1 {
			    font-family: "Courier New", Geneva, Arial,
          SunSans-Regular, sans-serif }
          ul.navbar li {
		      //background: white;
		      border: solid; 
		      border-width: thin; 
		      width: 100%;
		      margin: 0.5em 0;
		      padding: 0.3em;
		      border-right: 1em solid black }
		    ul.navbar a {
		      text-decoration: none }
		    a:link {
		      color: blue }
		    a:visited {
    color: red }